<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Home</title>
    <link rel="stylesheet" href="/homepage/homepage.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
</head>
<body>

    <div class="container">
        
        <div id="profileBtn" class="btn valign-wrapper">
            <i class="material-icons">account_box</i>
            <span class="">Profile Page</span>
        </div>
        
        <div id="photoBtn" class="btn valign-wrapper">
                <i class="material-icons">image</i>
                <span class="">My Photos</span>
        </div>

        <div id="logOut" class="btn right">
                <i class="material-icons">lock</i>
                <span>Log Out</span>
        </div>

        <h1 class="center-align">Welcome to your feed <%= user.firstname[0].toUpperCase() + user.firstname.slice(1) %>!</h1>

        <% data.posts.forEach(ele => { %>
        <% if (ele.id === user.id) {
            
        } else if(ele.url) { %>
            <div class='card border-radius' styles="" data-postId="<%= ele.id_post %>">
                <p class="center-align"><%= ele.firstname[0].toUpperCase() + ele.firstname.slice(1) %> 
                    <%= ele.lastname[0].toUpperCase() + ele.lastname.slice(1) %></p>
                <p><%= ele.body_post %></p>
                <img class="cardImages responsive-img" src= <%= ele.url %> />
                <span class='time'>
                    <%
                        const arr = ele.time_post.split(' ')
                        const date = arr[0].split('-')
                        const oldDate = new Date(ele.time_post)
                        const today = new Date()
                    %>
                    <%= Math.floor((today - oldDate) / (1000 * 3600) * 60) %> mins ago
                </span>
            </div>
        <%} else {        %>
            <div class='card border-radius' styles="" data-postId="<%= ele.id_post %>">
                <p class="center-align"><%= ele.firstname[0].toUpperCase() + ele.firstname.slice(1) %> 
                    <%= ele.lastname[0].toUpperCase() + ele.lastname.slice(1) %></p>
                <p><%= ele.body_post %></p>
                <span class='time'>
                    <%
                        const arr = ele.time_post.split(' ')
                        const date = arr[0].split('-')
                        const oldDate = new Date(ele.time_post)
                        const today = new Date()
                    %>
                    <%= Math.floor((today - oldDate) / (1000 * 3600) * 60) %> mins ago
                </span>
            </div>
        <% }}) %>
    </div>
    
    <script src="/homepage/homepage.js"></script>
    
</body>
</html>