<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Home</title>
    <link rel="stylesheet" href="/homepage/homepage.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/homepage/homepage.js"></script>
</head>
<body>
    <% include partials/nav.ejs %>
    <div id="profileDiv" class="container">
        <div id="profilePic" class="user one center-align"></div>
        <p id="profileName" class="center-align"><%= username %></p>
        <div id="quoteDiv" class="center-align">
            <p id="pTag" class="center-align">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde nam corrupti ipsum facere atque eos officiis corporis, labore ipsa consequuntur optio quasi id facilis velit eaque consectetur voluptates provident inventore!"</p> 
        </div>
    </div>


<!-- SIMPLE TEXT POST -->
<div id="textPostDiv" class="container center-align">
        <div class="row center-align">
                <div id="textCard" class="cardBorder col s12 m5 center-align">
                    <div class="card-panel green center-align">
                        <div style="text-decoration: underline; height: 1%; font-size: 130%;">
                            <p class="left-align" styles="text-align: left;"><%= username %></p>
                        </div>
                    <span class="white-text center-align">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                    </div>
                </div>
        </div>
</div>

    <!-- Picture POST -->
<div class="container center-align">
        <div class="row center-align">
                <div id="textCard" class="cardBorder col s12 m5 center-align">
                    <div class="card-panel green center-align">
                        <div style="text-decoration: underline; height: 1%; font-size: 130%;">
                            <p class="left-align" styles="text-align: left"><%= username %></p>
                        </div>
                    <span class="white-text center-align">
                        <img class="images"src="http://www.outdoor-photos.com/_photo/3831414.jpg" alt="">
                    </span>
                    </div>
                </div>
        </div>
</div>

        <div class="aComment boxed" style="border-style: solid;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam adipisci corporis voluptas error inventore, sint non dolores, repudiandae nisi sunt facere. Quis sint consectetur nihil! Perspiciatis blanditiis recusandae repellat nesciunt?</p>
        </div>
    <%= posts %>
    <%= likes %>
    <%= comments %>
    <%= pictures %>

    <% arr.forEach(ele => { %>
        <h1> <%= ele %> </h1>
    <% }) %>
</body>
</html>